<div class="container">
    <div class="form-container">
      <h2>Acesso</h2>
      <form>
        <div>
          <div class="input-wrapper">
            <label for="username">E-mail</label>
            <input type="text" id="username" name="username" placeholder="seuemail@exemplo.com">
          </div>
          
          <div class="input-wrapper">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" placeholder="Insira a sua senha">
          </div>
        </div>

        <div class="submit-container">
            <input type="submit" value="Próximo">
        </div>
        
      </form>
      <div class="signup-instead">
        <p>Ainda não tem uma conta? <a href=""> Registre-se</a></p>
      </div>

    </div>
</div>
  