.container {
    position: relative;
    height: 100vh;
    background-color: #e5e5e5;
    background-image: url('../assets/background-doodle.png');
    background-repeat: repeat;
    background-attachment: fixed;
}
  

.form-container {
    background-color: white;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    height: 63%;
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
}
  
h2 {
    text-align: left;
    margin-top: 25px;
    font-size: 32px;
    margin-left: 1rem;
}
  
form {
    display: flex;
    flex-direction: column;
}
  
label {
    margin: 10px 0 20px 0;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
}
  
input[type="text"],
input[type="password"] {
    margin: 0 auto;
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: #D9D9D9;
    width: 270px;
    color: #678490;
    font-weight: 300;
    padding-left: 40px;
    font-size: 14px;
}
  
input[type="submit"] {
    margin-top: 40px;
    height: 50px;
    width: 233px;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    background-color: #678490;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
}

.submit-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#username{
    background-image: url(../assets/o-email.png);
}

#password{
    background-image: url(../assets/cadeado.png);
    
}

#username, #password{
    background-repeat: no-repeat;
    background-position: 25px center;
    background-size: 1.3em;
    padding-left: 30px;
    text-align: left;
}

#username::placeholder, #password::placeholder{
    text-indent: 25px;
    color: #678490;
}

.signup-instead{
    color: #678490;
    cursor: pointer;
    text-decoration: none;
    font-weight: 300;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    margin-top: 50px;
    font-size: 12px;
}

a{
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

a:visited {
    color: #678490;
  }